<p>
<b>商品名:</b><%= @item.name %>
</p>
<p>
<b>商品詳細:</b><%= @item.description %>
</p>
<p>
<b>価格:</b><%= @item.price %>
</p>
<p>
<b>出品者:</b><%= @item.seller %>
</p>
<p>
<b>電子メール:</b><%= @item.email %>
</p>

<p>
  <%= image_tag @item.image_url %>
</p>


<p>
<%= link_to "編集",edit_item_path(@item)%>
</p>
